:root { 
    --sunsetGradient: linear-gradient(red, yellow);
    --metalGradient: linear-gradient(rgb(125, 123, 123), rgb(211, 211, 208));
    --skyBlueGradient :linear-gradient(rgb(165, 221, 235), rgb(221, 226, 230));
}






body {  margin : none; padding: none;
  background: url(/recipie-bg.jpg);
    background-color: rgb(78, 60, 16);
  background-color: black;
  color: rgb(145, 142, 142);
  font-family:'Courier New', Courier, monospace;
    background-repeat: no-repeat;
    background-size: contain;
   }


main { padding: 16px , 16px;  }

h1 , h2 {font-family: YorkWhiteLetter;  background-color: aliceblue; color: black;}
a {  padding: 16px , 16px;  margin: 10px; }
footer { padding: 24px, 24px}
.tacoImage { height:200px; }
a:hover {
     color:rgb(0, 0, 0);
    box-shadow: 10px 10px 20px 10px lightgreen inset; 
      border-radius: 15%;
      
    }




.topLink { 
    padding: 20px;
    margin-bottom: 2rem;

    
}


.blackLine { 
    margin-top: 10px;
    border: 1px solid black
}





.headerClass {
    background-image: var(--sunsetGradient);/*Try out root selectors here : -
    
     --skyBlueGradient
    --sunsetGradient
    --metalGradient*/
    font-family: "DripFont", 'Courier New', Courier, monospace;
    padding-bottom: .5rem;
    padding-top: .5rem;

  }






.foodItem { 
    border: 1px solid red;
    width: fit-content;
}

.foodItem a {
 color: aliceblue;
 text-shadow:  2px .55px black;
 font-family:YorkWhiteLetter ;
}
.foodItem div{ 
  color: aliceblue;
  text-shadow:  2px .55px black;
  font-family:YorkWhiteLetter ;  
}





.div  a { 
  font-family: 'YorkWhiteLetter' , 'Courier New', Courier, monospace;
}







footer  { 
    background-color: rgb(28, 91, 28);
    margin: 20px;
    border: 5px  solid rgb(0, 255, 0);
    box-shadow: 2px  2px 10px 10px rgb(255, 203, 47);

    color: aliceblue;
    font-family: 'YorkWhiteLetter', 'Courier New', Courier, monospace;
    text-align: center;
}
input { 
  box-shadow: 2px  2px 10px 10px rgb(255, 203, 47);
}
img { 
  box-shadow: 2px  2px 10px 10px rgb(255, 203, 47);

}



  /*  Adding some fonts , for the one i downloaded -   */


  @font-face {                          
    font-family:"YorkWhiteLetter";  /* Fonts from  friends, from new york !    */
    src: url(./yorkwhiteletter.ttf);
  }

  @font-face {
    font-family:"DripFont";
    src: url(./Goldrop.otf);
  }